html {
    background-color: aqua;
}

h1 {
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
}

body {
    padding: 0 auto;
    border-radius: 3px;
    background-color: palegreen;
    position: fixed;
}

p input {
    border: purple;
    padding: 0 auto;
}

.custom_class{
    border-radius: 4px;
    background-color: orchid;
}

.custom_class:hover{
    transform: scale(1,2);
    letter-spacing: 3px;
    color: pink;
}